[Unit]
Description=Metatiles cacher daemon
After=network.target

[Service]
;Type=notify
Type=simple
User=root
Group=root
WorkingDirectory=/opt/metatiles-cacher
ExecStart=/opt/metatiles-cacher/metatiles-cacher -config ./config.yaml
KillMode=process

[Install]
WantedBy=multi-user.target
